<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="origin-when-cross-origin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#008291" >
    <meta name="description" content="{{ page.description }}" > 
    <meta name="author" content="Thomas 'Panda' Attwood (TickleThePanda)">
    <title>{{ page.title }} - TickleThePanda</title>
    <link rel="canonical" href="{{ site.url }}{{ page.permalink }}">

    <link rel="preload" href="{{ site.assetsUrl }}/style/main.css" as="style">

    <link href="{{ site.assetsUrl }}/style/main.css" rel="stylesheet" type="text/css">
    <link href="{{ site.assetsUrl }}/style/main-print.css" rel="stylesheet" type="text/css" media="print">

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preconnect" href="{{ site.imagesUrl }}/" crossorigin>

    <link href="https://fonts.googleapis.com/css?family=Alegreya+SC:400,700|PT+Serif:400,400i,700" rel="stylesheet">

    <script async src="{{ site.assetsUrl }}/scripts/nav.js"></script>
    
    <script>
      const ENV = {
        apiBaseUrl: "{{ site.apiUrl }}",
        apiBaseHealthUrl: "{{ site.apiHealthUrl }}",
        assetsBaseUrl: "{{ site.assetsUrl }}",
        imagesBaseUrl: "{{ site.imagesUrl }}"
      };
    </script>
  </head>
  <body>
    <header class="sidebar">
      <div class="sidebar__header header-bar">
        <a class="title" href="{{ site.baseUrl }}/">
          <h1 class="header-bar__header-item header-bar__header-item--main">
            TickleThePanda
          </h1>
        </a>
        <svg
          class="header-bar__header-item header-bar__header-item--aside nav-toggle"
          xmlns="http://www.w3.org/2000/svg" version="1.1"
          viewBox="0 0 9 7" preserveAspectRatio="xMidYMid slice"
          width="1em" height="1em">
          <path
              class="nav-toggle__animated-line nav-toggle__animated-line--delay-1"
              style="fill:none;fill-rule:evenodd;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 1.5,2 6,0"/>
          <path
              class="nav-toggle__animated-line nav-toggle__animated-line--delay-2"
              style="fill:none;fill-rule:evenodd;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 1.5,4 6,0"/>
          <path
              class="nav-toggle__animated-line nav-toggle__animated-line--delay-3"
              style="fill:none;fill-rule:evenodd;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
              d="m 1.5,6 6,0"/>
        </svg>
      </div>
      <div class="sidebar__content">
        <nav class="sidebar-nav">
          <h1 class="sidebar-nav__title">Main Navigation</h1>
          {% for group in site.data.nav  %}
            {% if group.name != null %}
              <h2 class="sidebar-nav__section-title">{{ group.name }}</h2>
            {% endif %}
            <ul class="sidebar-nav__list">
              {% for link in group.links %}
                <li class="sidebar-nav__list-item">
                  <a class="sidebar-nav__link" href="{{ site.baseUrl }}{{ link.location }}">{{ link.text }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endfor %}
        </nav>
        <section class="sidebar__aside">
          <h1 class="sidebar__section-title content">Biography</h1>
          <p>Hey, I'm <strong>Panda</strong>!</p>
          <p>I'm a <strong>geek</strong> who works as a <strong>Software Developer</strong> at STFC.</p>
          <p>I love playing with <strong>data</strong> and presenting it in different ways.</p>
          <p>I've created this space to show my recent <strong>projects.</strong></p>
        </section>
      </div>
    </header>
    <main>
      <article>
        <div class="header-bar">
          <h1 class="header-bar__header-item subtitle">
            {{ page.title }}
          </h1>
        </div>
        <div class="content">
          {{ content }}
        </div>
      </article>
    </main>
  </body>
</html>
