<p>
<h3>weight</h3>
<p><a href="/static/images/data/weight-plot.png"><img src="/static/images/data/weight-plot.png" class="health-info"></a></p>

<h3>activity</h3>
<p><a href="/static/images/data/fitbit-day-plot.png"><img src="/static/images/data/fitbit-day-plot.png" class="health-info"></a></p>
<p><a href="/static/images/data/fitbit-dow-plot.png"><img src="/static/images/data/fitbit-dow-plot.png" class="health-info"></a></p>
<p><a href="/static/images/data/fitbit-months-plot.png"><img src="/static/images/data/fitbit-months-plot.png" class="health-info"></a></p>

<h3>misc</h3>
<div class="stats_box">
  <h4>days since takeout</h4>
  <br>
  <p class="stats_box_count"> <?php include $_SERVER['DOCUMENT_ROOT'].'/data/health/takeout'; ?> </p>
</div>
