<p>
<h3>weight</h3>
<p><a href="/static/images/data/weight-plot.png"><img src="/static/images/data/weight-plot.png" class="health-info"></a></p>

<h3>activity</h3>
<h4>average day</h4>
<img src="https://api.ticklethepanda.co.uk/health/activity/average/day?img">
<h4>average day - by weekday</h4>
<img src="https://api.ticklethepanda.co.uk/health/activity/average/day?img&aggregate=weekday">
<h4>average day - by month</h4>
<img src="https://api.ticklethepanda.co.uk/health/activity/average/day?img&aggregate=month">
