<img id="my-face" src="/static/images/content/me.png">
<p>
  Hi, my name is Thomas 'Panda' Attwood and <em>TickleThePanda</em> is a pseudonym that I use while working online.
  I'm a Software Developer working at <a href="https://www.stfc.ac.uk">Science and Technology Facilities Council (STFC)</a> in Oxfordshire, where the main technologies that I work with are: Java (JavaEE, Spring, and Hibernate), HTML5, CSS3, and JavaScript.
  Previously, I studied Computer Science at <a href="https://www.royalholloway.ac.uk">Royal Holloway, University of London</a>.
  Presenting data in unique and interesting ways is a big hobby of mine, and I also enjoy web design and photography.
</p>
<h2>Experience</h2>
<div class="experiences">
  <div class="experience">
    <h3 class="role">Graduate Software Developer</h3>
    <div class="dates">August 2015 - Present</div>
    <div class="place">Science and Technology Facilities Council (STFC)</div>
    <div class="description">Designing, developing, testing, maintaining, and providing support for web applications which provide safe and easy access to users of STFC's facilities. Experience managing and supervising an individual.</div>
  </div>
  <div class="experience">
    <h3 class="role">BSc Computer Science (Hons) - First Class</h3>
    <div class="dates">2012-2015</div>
    <div class="place">Royal Holloway, University of London</div>
  </div>
</div>

<div id="social-media-widget">
  <div class="social-media-link">
    <a href='https://twitter.com/ticklethepanda'>
      <img src='/static/images/social/twitter.png'>
    </a>
  </div>
  <div class="social-media-link">
    <a href='https://github.com/ticklethepanda'>
      <img src='/static/images/social/github.png'>
    </a>
  </div>
  <div class="social-media-link">
    <a href='https://facebook.com/1320190799'>
      <img src='/static/images/social/facebook.png'>
    </a>
  </div>
</div>


