<p>Since around 2012, I've had a phone that keeps track of my location whenever it's on, using Google's Location History. When I first started writing this software, I wanted to see where I had visited in the UK and where I most frequently was. I decided that the best way to represent this was to use a heat-map.</p>
<p>To see the code for how I created these gifs, visit <a href="https://github.com/TickleThePanda/location-history">the GitHub repository</a>.
<h2>Total history</h2>
<p>The image below shows the cumulative location history</p>
<img src="/static/images/location/cumulative.png" alt="cumulative location"/>
<h2>History over time</h2>
<h3>Cumulative</h3>
<p>The image below shows the cumulative location history over time.</p>
<img src="/static/images/location/cumulative.gif" alt="cumulative location over time"/>
<h3>Monthly</h3>
<p>The image below shows the montly location history over time.</p>
<img src="/static/images/location/monthly.gif" alt="location over time"/>
