<template repeat="{{gallery,i in galleries}}">
  <div class="gallery-container">
    <div class="gallery-nav">
      <template if="{{i != 0}}">
        <a href="#gallery={{i - 1}}" class="prev">&lt;-- prev</a>&nbsp;
      </template>
      <template if="{{i != galleries.length - 1}}">
        <a href="#gallery={{i + 1}}" class="next">next --&gt;</a>
      </template>
    </div>
    <h3>{{ gallery.name }}</h3>
    <p>{{ gallery.description }}</p>
    
    <div class="gallery">
      <template repeat="{{image in gallery.images}}">
        <a href="/static{{fullPath}}{{gallery.reference}}/{{image.fileName}}">
          <img src="/static{{thumbsPath}}{{gallery.reference}}/{{image.fileName}}">
        </a>
      </template>
    </div>
  </div>
</template>

