article .header-bar {
  width: 100%;
  background-color: @header-background-color;

  border-right: @border;
}

article {
  margin: 0 auto;
}

article .content {
  > :first-child { 
    margin-top: 0;
  }
  > :not(h2):first-child {
    padding-top: 0;
  }

  font-family: @font-family-main;

  text-align: left;
  background-color: @white;

  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 30vh;

  line-height: 1.5;
  word-wrap: break-word;

  img {
    max-width: 100%;
    height: auto;
  }

  & > p:first-of-type {

    &::first-letter  {
      line-height: 1;
      font-size: 250%;
      float: left;
      margin-right: 0.1em;
      padding: .1em;

      background-color: @primary;
    }
  }

}

article nav a {
  display: inline;

  text-decoration: underline;

  padding: 0;
  margin: 0;
}

article nav a:hover {
  text-decoration: none;
}

@media (max-width: @mobile-breakpoint) {

  article {
    margin: 0;
    border: none;
  }

  article .content {
    padding: 10vw;
    border: none;
  }
  
  article .header-bar {
    border-right: none;
  }
}

