article {
  margin: 0 auto;
}

article .content {
  & > :first-child {
    margin-top: 0; 
  }

  font-family: @font-family-main;

  text-align: left;
  background-color: @white;

  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 30vh;

  line-height: @line-height;
  word-wrap: break-word;

  img {
    max-width: 100%;
    height: auto;
  }

}

article nav a {
  display: inline;

  text-decoration: underline;

  padding: 0;
  margin: 0;
}

article nav a:hover {
  text-decoration: none;
}

@media (max-width: @mobile-breakpoint) {

  article {
    margin: 0;
    border: none;
  }

  article .content {
    font-size: calc(0.7rem + 1vmin);
    padding: 6vmin;
    border: none;
  }
  
  article .header-bar {
    border-right: none;
  }
}

