:root {
  font-size: 100%;
}

html, body {
  font-family: @font-family-title;
  font-size: 1rem;
  color: @black;
}

::selection {
  background-color: @primary;
}

:focus {
  outline: @primary-dark solid 2px;
  outline-offset: 0;
}

