body {
  max-width: 800px;
  margin: auto;
}

@supports (display: grid) {

  body {
    max-width: unset;

    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(auto, 800px) 1fr;
  }

  @media (max-width: @mobile-breakpoint) {
    body {
      display: block;
    }
  }

}

