.header-bar {

  font-family: @font-family-title;
  font-weight: 700;

  height: calc(~"3em + 1px");

  display: flex;
  border-bottom: @border;

  letter-spacing: @header-letter-spacing;
}

.header-bar__header-item {
  margin: 0;
  padding: 0;
  font-size: inherit;
  margin: 0;
  padding: 1em;
}

.header-bar__header-item--main {
  flex: 1 0 auto;
}

.header-bar__header-item--aside {
  position: absolute;
  right: 0;
}

@media (max-width: @mobile-breakpoint) {
  .header-bar__header-item--main {
    text-align: center;
  }

}
