@import "shared/fonts.less";
@import "shared/colors.less";
@import "shared/borders.less";

form#weight-form {
  border: @border;
  padding: 1em;
  
  input, select {
    clear: both;
  }

  #entry-date,#entry-period {
    display: inline;
    float: left;
    clear: none;
  }

  #entry-period {
    margin-left: -1px;
  }

}

#results {
  display: none;
  margin: 0.5em;
  padding: 0.5em;

  .success, .error {
    display: none;
  }

  &.success, &.error {
    display: block;
  }

  &.success {
    background-color: @primary;
  }

  &.error {
    background-color: @error;
  }

  &.success > .success {
    display: block;
  }

  &.error > .error {
    display: block;
  }

}

#weight-history {
  table {
    margin-top: 1em;
    width: 100%
  }

  tr {
    border-bottom: @border-light; 
  }

  th, td {
    padding: 1em;
  }

  thead tr {
    border: none;
  }

  thead th {
    position: sticky;
    top: calc(~"3rem - 1px");

    font-weight: bold;

    background-color: @white;
  }

  thead th::after {
    content:'';
    position:absolute;
    left: 0;
    bottom: 0;
    width:100%;
    border-bottom: @border;
  }
}

