@import "_tools.aspect-ratio.less";
@import "shared/borders.less";
@import "shared/colors.less";
@import "shared/sizes.less";

@gallery-max-img-size: 320px;
@gallery-min-img-size: 250px;

.gallery {
  display: none;
  
  &.selected {
    display: block;
  }
}

.gallery-nav {

  margin-top: 1em;

  .prev {
    float: left;
  }
  .next {
    float:right;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.gallery-nav {
  a {
    text-decoration: none;
    font-weight: 700;
  }

  a:hover, a:active {
    text-decoration: underline;
  }
}

.gallery-content {

  margin-top: 0.5rem;

  border-bottom: @border;
}

.gallery-title {
  clear: both;
  padding-top: 0.3rem;
  margin-top: 0;
}

.gallery-description {
  padding-top: 0.3rem;
}

.gallery-images {
  padding: 1.5em 0;
  margin: 0;

  .gallery-image-item {
    .aspect-ratio(320, 213);
  }

  .gallery-image-item, a, img {
    display: block;
    width: 100%;
    margin: 0;
  }

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(@gallery-min-img-size, 1fr));
  grid-gap: 0.25rem;
  grid-auto-flow: dense;

  justify-items: center;

  .favourite {
    grid-column: ~"1 / -1";
  }

  @media (max-width: @mobile-breakpoint) {
    display: flex;
    flex-flow: column nowrap;

    .gallery-image-item, a, img {
      // allow the images to be a bit bigger on mobile
      width: @gallery-max-img-size * 1.5;
      max-width: 100%;
    }

    .gallery-image-item {
      margin: auto;
      margin-top: 0.25rem;
    }

    .gallery-image-item:first-of-type {
      margin-top: auto;
    }
  }

}

