@import "shared/colors.less";

#my-face {
  border-radius: 50%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  border: 2px @black solid;
  background-color: @black;
  box-shadow: 0 0 0 0.5em @primary-dark;

  margin-bottom: 1rem;
}

#social-media-widget {
  display: flex;
  justify-content: flex-end;
}

.social-media-link {
  margin: 1em;
}

