@import "shared/colors.less";

#my-face {
  border-radius: 50%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  border: 2px @black solid;
  background-color: @black;
  box-shadow: 0 0 0 0.5em @primary;
}

.experience {

  margin-bottom: 0.5em;

  h3.role {
    padding: 0;
    margin: 0;
    float: left;
  }

  .dates {
    float: right;
    font-style: italic;
  }

  .place {
    clear: both;
  }

  .description {
    margin-top: 0.5em;
  }
}

#social-media-widget {
  display: flex;
  justify-content: flex-end;
}

.social-media-link {
  margin: 1em;
}

