@import "colors.less";

@title-font-size-multiplier: 1.25;
@sidebar-width: calc(~"14ch * " @title-font-size-multiplier ~" + 2em * " @title-font-size-multiplier);
@content-wrapper-margin: calc(@sidebar-width ~"+ 1px");
@gallery-max-img-size: 320px;

@mobile-min-breakpoint: 400px;
@mobile-max-breakpoint: 600px;
@desktop-min-breakpoint: 768px;

@border: 1px solid @black;

html, body {
  margin: 0;
  padding: 0;

  font-family: "Courier New", Courier, monospace, serif;
  font-size: 14pt;

  color: @black;
}

body {
  width: 100%;
  height: 100%;
  background-color: @primary;
}

a {
  text-decoration:underline;

  &:link, &:visited, &:hover, &:active {
    color: darken(@primary, 50%);
  }
  
  &:hover {
    text-decoration: none;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: @sidebar-width;

  text-align: right;

  background-color: @primary;

  border-right: @border;
  
  overflow: hidden;

  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-order: 1;
          order: 1;


  h1 {
    display: -webkit-flex;
    display:         flex;

    margin: 0;

    text-align: center;
    vertical-align: middle;

    background-color: @black;
    color: @primary;
  }
}


h1 > *, #subtitle {
  height: 1em;
  line-height: 1em;
  border-bottom: @border;
  padding: 1em;
  margin: 0;
}

h1 {
  font-size: 100% * @title-font-size-multiplier;
  font-weight: bold;
}

#title {
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 14ch;

  text-decoration: none;
}

#title:link {color:@primary;}                                /* unvisited link */
#title:visited {color:@primary;}                             /* visited link */
#title:hover {color:lighten(@primary, 10%);}                                   /* mouse over link */
#title:active {color:@primary;}                                  /* selected link */

#nav-toggle {
  display: none;

  stroke: @black;
  background-color: @primary;
  overflow: hidden;

  padding: 1em;
  height: 1em;

  cursor: pointer;
}

#nav-toggle > .animated-line {
  stroke-dasharray: 6;
  stroke-dashoffset: 6;
  animation: dash 0.5s linear forwards;
}

#nav-toggle > .animated-line:nth-child(2) {
  -webkit-animation-delay: 0.4s; /* Chrome, Safari, Opera */
          animation-delay: 0.4s;
}

#nav-toggle > .animated-line:nth-child(3) {
  -webkit-animation-delay: 0.7s; /* Chrome, Safari, Opera */
          animation-delay: 0.7s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#nav-toggle:hover {
  stroke: lighten(@black, 20%);
}

#sidebar-content {
  margin: 1em * @title-font-size-multiplier;
  margin-bottom: 0;
}

#biog {
  h1 {
    display: none;
  }
  font-size: 68%;
  padding-top: 0.5em;
  border-top: @border;
}

/* ------- content ------- */

#subtitle {
  padding: 1em;
  &:before {
    content: "$ ";
    float: left;
    padding-right: 1ch;
  }
}

article {
  margin: 0;
  margin-bottom: 50vh;
  margin-left: @content-wrapper-margin;
}

#my-face {
  border-radius: 50%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  max-width:100%;
}

#social-media-widget {
  display: flex;
  justify-content: flex-end;
}


.social-media-link {
  margin: 1em;
}

.gallery-container {
  display: hidden;
}

.gallery-container:first-of-type {
  display: block;
}

.gallery-container {
  h2:first-of-type {
    padding-top: 0px;
    margin-top: 0px;
    float: left;
  }
  p:first-of-type {
    clear: left;
  }
}

.gallery-nav {
  float:right;
}

.gallery {
  padding: 1.5em 0;
  border-top: @border;
  border-bottom: @border;

  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: minmax(auto, @gallery-max-img-size);
  grid-gap: 1.5em;
  justify-content: center;

  @media (min-width: @mobile-min-breakpoint) {
    grid-template-columns: repeat(2, minmax(auto, @gallery-max-img-size));
  }
  @media (min-width: @mobile-max-breakpoint) {
    grid-template-columns: minmax(auto, @gallery-max-img-size);
    justify: stretch;
  }
  @media (min-width: @desktop-min-breakpoint) {
    grid-template-columns: repeat(2, minmax(auto, @gallery-max-img-size));
  }
}

.gallery a {
  display: block;
  max-width: @gallery-max-img-size;
  margin: 4px;
}

@supports(display: grid) {
  .gallery a {
    margin: 0;
    img {
      max-width:100%;
      height:auto;
    }
  }
}

.health-info {
  max-width:100%;
}

.stats-box {
  display: inline-block;
  width: 49%;
  text-align: center;
}

.stats-header {
}

.stats-box-count {
  text-align: center;
  font-size: 10em;
  line-height: 1em;
}

#content {
  > :first-child {
    padding-top: 0;
    margin-top: 0;
  }
  
  font-family: "Inconsolata", "Courier New", Courier, monospace, serif;

  text-align: left;
  background-color: @white;
  padding: 3em;
  line-height: 150%;
  max-width: 768px;
  word-wrap: break-word;

  border-right: @border;
  border-bottom: @border;

  img {
    max-width: 100%;
  }

  p:first-of-type {
    white-space: pre-wrap;

    &:first-letter  {
      font-size: 250%;
      float: left;
      margin-right: 0.1em;
      padding: .2em .1em;

      background-color: @primary;
    }
  }

}

nav {

  h1 {
    display: none;
  }

  h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 0.2em;
    line-height: 1em;
    font-size: 1em;
    font-weight: bold;
    border-bottom: @border;
  }

  ul, li {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  ul {
    padding: 0.5em 0em;
  }

  a {
    display: block;

    padding: 0.5em 0;

    text-decoration:none;
    &, &:link, &:visited {
      color: @black;
    }
  
    &:hover, &:active {
      text-decoration: underline;
    }
  }
}

.experience {

  margin-bottom: 0.5em;

  h3.role {
    padding: 0;
    margin: 0;
    float: left;
  }

  .dates {
    float: right;
    font-style: italic;
  }

  .place {
    clear: both;
  }

  .description {
    margin-top: 0.5em;
  }
}


@media (max-width: @mobile-max-breakpoint) {

  header {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #sidebar-content {
    display: none;
  }

  #sidebar-content.open-nav {
    display: block;
    margin: 0;
    padding: 30px;
    padding-bottom: 0px;
    border-bottom: @border;
  }

  #biog {
    display: none;
  }

  #nav-toggle {
    display: block;
    -webkit-flex: 0 0 30px;
            flex: 0 0 30px;
  }
  
  article {
    margin: (3em * @title-font-size-multiplier) 0 0 0;
    border: none;
  }

  #content {
    padding: 10vw;
    border: none;
  }
}

