---
layout: page
title: Photography
description: A gallery of photography taken with both digital and film cameras.
permalink: /photography/
---

<p>It was while I was completing my art GCSE that I first got into photography as a hobby. These gallaries show my favourite photos from the past few years. Although I usually prefer taking shots of landscapes and plants, there are a couple of shots of people in here which I really like!</p>

<div>
  {% assign galleries = site.data.gallery.galleries %}
  {% assign thumbsPath = site.data.gallery.thumbsPath %}
  {% assign fullPath = site.data.gallery.fullPath %}

  {% for gallery in galleries %}
    <div id="gallery-{{ gallery.reference }}" class="gallery-container">
      <div class="gallery-nav">
        {% assign prev_i = forloop.index0 | minus: 1 %}
        {% unless forloop.first %}
          <a class="prev" href="#gallery={{ galleries[prev_i].reference }}">&lt;-- prev</a>
        {% endunless %}
        {% unless forloop.last %}
          {% assign next_i = forloop.index0 | plus: 1 %}
          <a class="next" href="#gallery={{ galleries[next_i].reference }}">next --&gt;</a>  
        {% endunless %}
      </div>
      <h2>{{ gallery.name }}</h2>
      <p>{{ gallery.description }}</p>
      <div class="gallery">
        {% for image in gallery.images %}
          <a href="{{ site.assetsUrl}}{{ fullPath }}{{ gallery.reference }}/{{ image.fileName }}">
             <img src="{{ site.assetsUrl }}{{ thumbsPath }}{{ gallery.reference}}/{{ image.fileName }}"/>
          </a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

</div>

<link href="{{ site.assetsUrl }}/style/gallery.css" rel="stylesheet" type="text/css">
<script async src="{{ site.assetsUrl }}/scripts/gallery.js"></script>

