---
layout: page
title: Photography
description: A gallery of photography taken with both digital and film cameras.
permalink: /photography/
---

<p>It was while I was completing my art GCSE that I first got into photography as a hobby. These gallaries show my favourite photos from the past few years. Although I usually prefer taking shots of landscapes and plants, there are a couple of shots of people in here which I really like!</p>

<div class="galleries">
  {% assign galleries = site.data.gallery.galleries %}
  {% assign thumbsPath = site.data.gallery.thumbsPath %}
  {% assign fullPath = site.data.gallery.fullPath %}

  {% for gallery in galleries %}
    <div id="gallery-{{ gallery.reference }}" class="gallery">
      <nav class="gallery-nav">
        {% assign prev_i = forloop.index0 | minus: 1 %}
        {% unless forloop.first %}
          <a class="prev" href="?gallery={{ galleries[prev_i].reference }}">&lt;-- prev</a>
        {% endunless %}
        {% unless forloop.last %}
          {% assign next_i = forloop.index0 | plus: 1 %}
          <a class="next" href="?gallery={{ galleries[next_i].reference }}">next --&gt;</a>  
        {% endunless %}
      </nav>
      <div class="gallery-content">
        <h2 class="gallery-title">{{ gallery.name }}</h2>
        <p class="gallery-description">{{ gallery.description }}</p>
        <ul class="gallery-images">
          {% for image in gallery.images %}
            <li class="gallery-image-item {% if image.favourite %}favourite{% endif %}">
              <a href="{{ site.imagesUrl }}{{ fullPath }}{{ gallery.reference }}/{{ image.fileName }}">
                <img data-src="{{ site.imagesUrl }}{% if image.favourite %}{{ fullPath }}{% else %}{{ thumbsPath }}{% endif %}{{ gallery.reference}}/{{ image.fileName }}"/>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}

</div>

<link href="{{ site.assetsUrl }}/style/gallery.css" rel="stylesheet" type="text/css">
<script async src="{{ site.assetsUrl }}/scripts/gallery.js"></script>

