a {

  text-decoration: none;
  font-weight: @font-weight__body-bold;
  
  &:link, &:visited, &:hover, &:active {
    color: darken(@primary, 25%, relative);
  }
  
  &:hover {
    color: darken(@primary, 75%, relative);
  }
}

