:root {
  font-size: @fallback-font-size;
  font-size: @scaling-font-size;
}

html, body {
  font-family: @font-family-main;
  color: @palette-primary-stroke;
  background-color: @palette-primary-background;
}

body {
  overflow-y: scroll;
}

::selection {
  color: @palette-secondary-stroke;
  background-color: @palette-secondary-background;
}
