.cards {
  margin: 0;
  margin-top: 1em;
  padding: 0;
  border: unset;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-gap: 1em;

  filter: drop-shadow(@high-contrast-shadow);
}

.card {
  --random-border--safe-padding: 1em;
  --random-border--animation-duration-ms: 200;

  margin: 0;
  padding: 0;

  height: 100%;
}

.card__link:link, .card__link:visited {

  display: grid;

  height: 100%;

  // extra padding because of random clip path above
  padding: 2em;

  background-color: @palette-primary-inverted-background;
  color: @palette-secondary-stroke;

  grid-template-rows: auto 1fr auto;

  transition: @button-low-contrast-hover-transition;
}

.card__link:hover, .card__link:active,
.card:focus-within .card__link:link,
.card:focus-within .card__link:visited {
  background-color: @palette-secondary-background;
  color: @palette-secondary-stroke;
}

.card__header {
  margin-top: 0;
}

.card__footer {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;

  justify-self: end;

  padding-top: 0.5em;
}

.card__url {
  font-size: 0.6em;
}

.card__arrow {
  justify-self: end;
}
