.title {
  flex: 1 1 auto;
  min-width: 14ch;

  text-decoration: none;

  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transition-property: background-color, color;

  background-color: @palette-primary-inverted-background;
}

.title:link, .title:visited {
  color: @palette-primary-inverted-stroke;
}
.title:hover, .title:active {
  background-color: @palette-secondary-background;
  color: @palette-secondary-stroke;
}
