.title {
  flex: 1 1 auto;
  min-width: 14ch;

  text-decoration: none;

  background-color: @palette-primary-inverted-background;
}

.title:link {color: @palette-primary-inverted-stroke;}                                /* unvisited link */
.title:visited {color:@palette-primary-inverted-stroke;}                             /* visited link */
.title:hover {color:@palette-secondary-stroke;}                                   /* mouse over link */
.title:active {color:@palette-primary-inverted-stroke;}                                  /* selected link */
