.cards {
  margin: 0;
  margin-top: 1em;
  padding: 0;
  border: unset;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-gap: 1em;

  filter: drop-shadow(@high-contrast-shadow);
}

.card {
  margin: 0;
  padding: 0;

  height: 100%;
}

.card__link {
  display: grid;

  height: 100%;

  padding: 1em;
  background-color: @palette-primary-inverted-background;

  grid-template-rows: auto 1fr auto;
}

@supports(background-image: paint(randomBorder)) {
  /*
   * Background image didn't work on a link.
   */
  .card {

    --random-border--background-color: @palette-primary-inverted-background;
    --random-border--safe-padding: 1.5em;

    background-image: paint(randomBorder);
  }

  .card:hover, .card:active {
    --random-border--background-color: @palette-secondary-background;
  }

  .card__link {
    background-color: unset;

    padding: 2em;
  }
}

.card__link:link, .card__link:visited {
  color: @palette-secondary-stroke;
}

.card__header {
  margin-top: 0;
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  justify-self: end;

  padding-top: 0.5em;
}

.card__url {
  font-size: 0.6em;
}

.card__arrow {
  justify-self: end;
}
