.sidebar-nav {
  letter-spacing: @header-letter-spacing;
  padding-top:0.75rem;
}

.sidebar-nav__group {
  --rotation: -5deg;
  margin-bottom: 2rem;
}

.sidebar-nav__group:first-child {
  margin-top: 0;
}

.sidebar-nav__group:nth-child(2n + 1) {
  --rotation: 5deg;
  margin-top: 1rem;
}

.sidebar-nav__group:last-child {
  margin-bottom: 0;
}

.sidebar-nav__title {
  display: none;
}

.sidebar-nav__section-title {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 1em;
  font-weight: @font-weight__title-bold;

  /*
   * Get rid of border from h2.
   */
  border-top: none;

  transform: rotate(var(--rotation));
  transform-origin: right;
}

.sidebar-nav__sidebar-title--first {
  margin-top: 0;
}

.sidebar-nav__list, .sidebar-nav__list-item {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav__list-item { }

.sidebar-nav__list-item--first {
  padding-top: 0;
}

.sidebar-nav__link {
  display: block;

  /*
   * Use padding to make link easier to click.
   */
  padding: 0.35rem;

  background-color: @palette-primary-inverted-background;
  margin-top: 0.5rem;
  margin-left: auto;
  max-width: fit-content;
  border-radius: 0.2rem;

  font-weight: @font-weight__title-normal;

  transform: rotate(var(--rotation));
  transform-origin: right;

  text-decoration:none;
  &, &:link, &:visited {
    color: inherit;
  }

  &:hover, &:active {
    text-decoration: underline;
  }

  box-shadow: @low-contrast-shadow;
}
