@import "_tools.aspect-ratio.less";
@import "_settings.borders.less";
@import "_settings.colors.less";
@import "_settings.sizes.less";
@import "_settings.fonts.less";

@gallery-min-img-size: 12rem;

@gallery-padding: 0.5rem;

.gallery {
  display: none;

  &.selected {
    display: block;
  }
}

.gallery-nav {

  margin-top: 1em;

  .prev {
    float: left;
  }
  .next {
    float:right;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.gallery-nav {
  a {
    text-decoration: none;
    font-weight: @font-weight__body-bold;
  }

  a:hover, a:active {
    text-decoration: underline;
  }
}

.gallery-content {

  margin-top: 0.5rem;

  border-bottom: @border;
}

.gallery-title {
  clear: both;
  padding-top: 0.3rem;
  margin-top: 0;
}

.gallery-description {
  padding-top: 0.3rem;
}

.gallery-images {
  padding: @gallery-padding;
  padding-bottom: 0;
  margin: 0;
  margin-top: 1em;

  background-color: @palette-background-low-contrast;

  .gallery-image-item, a, img {
    display: block;
    width: 100%;
    margin: 0;

    background-color: unset;
    border: unset;
  }

  .gallery-image-item {
    break-inside: avoid;
    padding-bottom: @gallery-padding;
  }

  column-gap: @gallery-padding;

  display: block;

  column-width: @gallery-min-img-size;

  justify-items: center;

  .favourite {
    grid-column: ~"1 / -1";
  }

}