@import "shared/sizes.less";
@import "shared/colors.less";

.my-face-wrapper-1 {
  width: fit-content;
  margin: auto;

  background-color: @palette-secondary-background;

  clip-path: polygon(
    12.34% 23.26%,
    21.52% 4.55%,
    68.39% 3.81%,
    81.51% 21.81%,
    79.59% 68.69%,
    65.59% 90.68%,
    51.86% 97.31%,
    23.24% 71.56%
  );
}

.my-face-wrapper-2 {
  width: fit-content;
  margin: auto;

  background-color: @palette-tertiary-background;

  clip-path: polygon(
    16.81% 22.95%,
    26.69% 8.27%,
    65.26% 7.64%,
    76.8% 24.78%,
    75.21% 67.26%,
    62.74% 89.31%,
    25.49% 68.93%
  );
}

.my-face {

  display:block;
  margin-left:auto;
  margin-right:auto;

  width: auto;
  max-height: calc(100vh - 7rem);

  clip-path: polygon(
    20.86% 22.63%,
    31.1% 10.9%,
    63.59% 11.82%,
    73.19% 24.69%,
    71.46% 68.07%,
    61.5% 83.84%,
    28.98% 65.45%
  );

  margin-top: -1.5rem;

  background-color: unset;
  border: unset;
}

@media (max-width: @mobile-breakpoint) {

  #my-face {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;

    max-height: calc(100vh - 9rem);
  }

}

#social-media-widget {
  display: flex;
  justify-content: flex-end;
}

.social-media-link {
  margin: 1em;
}
