html, body {
  margin: 0;
  padding: 0;
  
  font-family: "Courier New", Courier, monospace, serif;
}

#main-container {
  width: 100%;
  height: 100%;

  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
          flex-flow: row;
}

/* -------- infobar ----------*/

#infobar {
  text-align: right;

  background-color: #cda;

  min-width: 230px;

  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-order: 1;
          order: 1;
}

#header {
  display: -webkit-flex;
  display:         flex;
  
  text-align: center;
  vertical-align: middle;

  font-weight: 700;
  font-size: 140%;

  background-color: #444;
  color: #cda;
}

#title {
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;

  padding: 1em;
  height: 1em;
  
  text-decoration: none;
}

#title:link {color:#cda;}                                /* unvisited link */
#title:visited {color:#cda;}                             /* visited link */
#title:hover {color:#deb;}    /* mouse over link */
#title:active {color:#cda;}                              /* selected link */

#nav-toggle {
  display: none;
  
  stroke: #444;
  background-color: #cda;
  overflow: hidden;
  
  padding: 1em;
  height: 1em;
  
  cursor: pointer;
}

#nav-toggle:hover {
  stroke: #000;
}

#nav {
  padding: 10px 30px;
  overflow-y: hidden;
}

#biog {
  font-size:68%;
  font-weight:100;
  color:#444;
}

/* ------- content ------- */

#subtitle {
  font-size: 130%;
  color: #444;
  font-weight: 700;
  padding: 1em;
}

#content-wrapper {
  display: -webkit-flex;
  display:         flex;
  
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-order: 2;
          order: 2;

  margin: 0px 0px 0px 0px;

  color: #000;
}

#content-scroll-wrap {
  overflow-y: auto;
  width:100%;
}

#content {
  text-align: left;
  color: #444;
  padding: 10px 40px;
  line-height: 130%;
  max-width: 700px;
  word-wrap: break-word;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {

  #main-container {
    -webkit-flex-flow: column;
            flex-flow: column;
  }

  #infobar {
    -webkit-order: 1;
            order: 1;
  }

  #nav {
    display: none;
  }
  
  #nav.open-nav {
    display:block;
  }

  #biog {
    display: none;
  }

  #nav-toggle {
    display: block;
    -webkit-flex: 0 0 30px;
            flex: 0 0 30px;
  }
}

.health-info {
  max-width:100%;
}

.stats-box {
  display: inline-block;
  width: 49%;
  text-align: center;
}

.stats-header {
}

.stats-box-count {
  text-align: center;
  font-size: 10em;
  line-height: 1em;
}

.first-paragraph {
  text-indent: 4em;
}

.image-holder {
  float: left;
  padding: 0px 2px 2px 0px;
  margin: 0px;
}

.horizontal-line {
  margin: 0.5em;
  height: 1px;
  background-color: #000;
  float: left;
  width: 250px;
}

.center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  width: 100%;
  text-align:center;
}

.v-bold {
  font-weight:900;
  color: #000;
}

.sidebar-link{
  color:#000;
  text-decoration:underline;
  padding-left:10px;
}

.sidebar-line {
  margin-top: -0.85em;
  height: 1px;
  background-color: #000;
  width: 100%;
}

.sidebar-title {
  font-weight:bold;
}

.sidebar-link:link {color:#000;}                                /* unvisited link */
.sidebar-link:visited {color:#000;}                             /* visited link */
.sidebar-link:hover {color:#000; text-decoration:none;}    /* mouse over link */
.sidebar-link:active {color:#000;}                              /* selected link */

.github-link {
  
}