---
layout: page
title: Contact me
description: A way to contact me.
permalink: /contact-me/
---

<p>
  I share most of the code for my personal projects on
  <a href="https://github.com/ticklethepanda">@TickleThePanda at GitHub</a>.
  If you want to chat (I hope you feel you can do), you can find me at
  <a rel="me" href="https://tech.lgbt/@panda">@panda@tech.lgbt on Mastodon</a>.

<form name="contact" method="POST" netlify>
  <p>
    <label>Your Name <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Your Email <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Message <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>