---
layout: page
title: Meet Panda
description: A showcase of TickleThePanda's (Thomas 'Panda' Attwood) projects.
permalink: /
---

<div class="my-face-wrapper my-face-outer-wrapper">
  <div class="my-face-wrapper my-face-wrapper-1">
    <div class="my-face-wrapper my-face-wrapper-2">
      <div class="my-face-wrapper my-face-wrapper-3">
        <img
          class="my-face"
          src="{{ urls.images }}/content/my-face-2020.png"
          alt="Me, a person with long hair wearing, smiling and laughing."
          width="500px" height="500px" >
      </div>
    </div>
  </div>
</div>
<h3 class="home-heading">
  Hi, I'm <strong>Panda</strong>!
</h3>
<p>
  I like making little side projects with assorted web technologies,
  playing board games and Dungeons and Dragons, traveling the UK and
  the world, taking photos on film, and hosting (usually themed)
  dinner parties.
<p>
  When I'm working, I lead a team of software engineers at <a
  href="https://www.stfc.ac.uk">Science and Technology Facilities
  Council (STFC)</a> (part of <a href="https://ukri.org">UK Research
  and Inovation</a>). We develop web apps for the submission of
  proposals and gathering information about outcomes of experiments
  at STFC's National Laboratories.
<p>
  Take a look at <a href="https://cv.ticklethepanda.co.uk" z>my
  résumé</a> if you're interested in looking at my professional
  experience.
</p>

<div id="social-media-widget">
  <div class="block-link block-link--random-border block-link__wrapper social-media-link js-random-border js-random-border-hover">
    <a class="block-link__link" href="https://twitter.com/ticklethepanda">
      <img src="{{ urls.images }}/social/twitter.png" alt="Twitter's Logo" >
    </a>
  </div>
  <div class="block-link block-link--random-border social-media-link js-random-border js-random-border-hover">
    <a class="block-link__link" href="https://github.com/ticklethepanda">
      <img src="{{ urls.images }}/social/github.png" alt="GitHub's Logo">
    </a >
  </div>
</div>

<link href="{{ urls.assets }}/style/home.css" rel="stylesheet">
