---
layout: page
title: Meet Panda
description: A showcase of TickleThePanda's (Thomas 'Panda' Attwood) projects.
permalink: /
---

<div>
  <div class="my-face-wrapper my-face-outer-wrapper">
    <div class="my-face-wrapper my-face-wrapper-1">
      <div class="my-face-wrapper my-face-wrapper-2">
        <div class="my-face-wrapper my-face-wrapper-3">
          <picture>
            <source type="image/webp" srcset="{{ urls.images }}/content/my-face-2020.webp">
            <img
              class="my-face"
              src="{{ urls.images }}/content/my-face-2020.jpg"
              alt="Me, a person with long hair wearing, smiling and laughing."
              width="500" height="500" >
          </picture>
        </div>
      </div>
    </div>
  </div>
  <h3 class="home-heading">
    Hi, I'm <strong>Panda</strong>!
  </h3>
  <p>
    I like building things with web technologies, playing board
    games and Dungeons and Dragons, traveling the UK and the
    world, taking photos on film, and hosting (usually themed)
    dinner parties.
  <p>
    When I'm working, I lead a team of software engineers at <a
    href="https://www.stfc.ac.uk">Science and Technology Facilities
    Council (STFC)</a> (part of <a href="https://ukri.org">UK Research
    and Inovation</a>). We develop web apps for the submission of
    proposals and gathering information about outcomes of experiments
    at STFC's National Laboratories.
  <p>
    Take a look at <a href="https://cv.ticklethepanda.co.uk" z>my
    résumé</a> if you're interested in looking at my professional
    experience.
  </p>
</div>

<h3>My projects</h3>

<p>In my free time, I like to spend my time on projects. They cover
  a few different areas which range from collecting and visualising
  data to sharing my photography. Sometimes I use these projects to
  learn new skills, like design and the latest web technologies, but
  most of the time they are for fun. These are the ones that I want to
  share with you, though they might not be clean and polished.

{% assign projects = collections.project | concat: other-projects | sortByUpdated %}

<ul class="cards">
  {% for project in projects %}
    {% include 'project-card', project: project %}
  {% endfor %}
</ul>

<h3>Where to find me</h3>

<p><a href="https://github.com/ticklethepanda">GitHub - TickleThePanda</a>

<link href="{{ urls.assets }}/style/home.css" rel="stylesheet">
