---
layout: page
title: Projects
description: My personal projects
permalink: /projects/
---

<p>In my free time, I like to spend my time on projects. They cover
  a few different areas which range from collecting and visualising
  data to sharing my photography. Sometimes I use these projects to
  learn new skills, like design and the latest web technologies, but
  most of the time they are for fun. These are the ones that I want to
  share with you as a way of expressing myself: while they might not
  be clean and polished, I am very proud of them.

{% assign projects = collections.project | concat: other-projects | sortByUpdated %}
{% assign favProjects = projects | whereData: "favourite", "yes", %}
{% assign notFavProjects = projects | whereData: "favourite", "yes", "!" %}

<h3>Favourites</h3>

<p>These are my favourite projects: the ones that I am most proud of.

<ul class="cards">
  {% for project in favProjects %}
    {% include project-card project=project %}
  {% endfor %}
</ul>

<h3>The rest</h3>
<p>While the other projects are my highlights, these are the ones that
  don't stand out. Some are just functional, others are not my best and
  the rest are just older ones that I am less interested in now.

<ul class="cards">
  {% for project in notFavProjects %}
    {% include project-card project=project %}
  {% endfor %}
</ul>
