---
title: Photography
description: A gallery of my favourite photos taken with film cameras.
permalink: /photography/

created: 2015-01-01
updated: 2020-04-20

favourite: "yes"
favouriteReason: I love the gallery's chaotic design and sharing the photos within it.

previewImage: https://images.ticklethepanda.co.uk/images/project-images/project-photography.jpg
---

<div class="gallery full-width gallery--single">
  <nav class="gallery-nav content-item">
    <a class="next" href="/photography/galleries/">More ↠</a>
  </nav>
  {% render 'gallery-content', gallery: galleries.favourites, urls: urls %}
  <nav class="gallery-nav content-item">
    <a class="next" href="/photography/galleries/">More ↠</a>
  </nav>
</div>

<link href="{{ urls.assets }}/style/gallery.css" rel="stylesheet" type="text/css"/>
