---
title: Admin home
permalink: /admin/home/
---

<nav>
  <ul>
    {% for admin in collections.adminPage %}
      <li>
        <a href="{{ admin.url }}">{{ admin.data.title }}</a>
        {% if admin.data.description %}
         - {{ admin.data.description}}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
