---
title: Admin login
permalink: /admin/
---

<form id="login">
  <input type="text" id="username" name="username" placeholder="username" />
  <input type="password" id="password" name="password" placeholder="password" />
  <button type="submit">Login</button>
  <div id="error"></div>
</form>

<script type="module" src="{{ urls.assets }}/scripts/admin--login.js"></script>
