.faceted-data-container {
  display: grid;

  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, auto);

  grid-gap: 0.5em;

  margin-top: 1em;

  h3 + & {
    margin-top: 0.5rem;
  }

  .controls {
    grid-column: ~"1 / -1";

    display: grid;
    grid-template-columns: 1fr;

    .state {
      justify-self: end;
    }
  }

  .control-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    button {
      margin: 0.3em;
    }

    h3 {
      margin: 0;
      margin-top: auto;
      margin-bottom: auto;
    }

    button.link {
      margin: 0;
      padding-left: 0.3em;
      padding-right: 0.3em;
    }
  }

  .facet-title {
    grid-column: 1;
    grid-row: 2;

    z-index: @zMid;
  }

  .facet-data {
    grid-column: ~"1 / -1";
    grid-row: ~"2 / -1";
    z-index: @zLow;

    background-color: var(--p-bg);
  }

  .facet-data--no-controls {
    grid-column: ~"1 / -1";
    grid-row: ~"1 / -1";
  }

  @media (max-width: @mobile-breakpoint) {
    .control-set {
      button:not(.link) {
        margin: 0.3em;
      }
    }
  }
}
