main {
  grid-area: c;
}

article {
  margin: 0 auto;
}

.article__header {
  font-size: 0.8rem;

  padding-left: @content-padding-left;
  padding-right: @content-padding-right;

  @media (max-width: @mobile-breakpoint) {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
}

.article__title {
  margin-top: 0.2em;

  border-top: unset;
  font-family: @font-family-title;
  font-size: calc(1.5em + 6vw);
  font-weight: @font-weight__title-bold;
  letter-spacing: 0.05em;
  color: @palette-primary-stroke-highlight;

  line-height: 1;

  @media (max-width: @mobile-breakpoint) {
    margin-top: 5vw;
  }

  filter: drop-shadow(0.1em 0.1em 0.1em rgba(0, 0, 0, 0.15));
}

@supports not selector(:where(.article__content > *)) {
  .article__content > * {
    max-width: @content-max-width;
  }
}

@supports selector(:where(.article__content > *)) {
  :where(.article__content > *) {
    max-width: @content-max-width;
  }
}

.article__content {
  & > *:first-child {
    margin-top: 0;
  }

  font-family: @font-family-main;
  font-size: 1rem;
  font-weight: @font-weight__body-normal;

  text-align: left;

  margin-top: 1em;

  padding-top: 0;
  padding-left: @content-padding-left;
  padding-right: @content-padding-right;
  padding-bottom: 30vh;

  line-height: @line-height;
  word-wrap: break-word;

  @media (max-width: @mobile-breakpoint) {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
}

.article__date {
  margin-top: 0.5em;
}

.article__nav {
  margin-top: 1em;
}

.content nav a {
  display: inline;

  text-decoration: underline;

  padding: 0;
  margin: 0;
}

.content nav a:hover {
  text-decoration: none;
}

@media (max-width: @mobile-breakpoint) {
  article {
    margin: 0;
  }

  .content {
    padding: 6vmin;
    padding-top: 0;
  }
}
