main {
  grid-area: c;
}

article {
  margin: 0 auto;
}

.article__header {
  text-align: center;

  padding-left: @content-padding-left;
  padding-right: @content-padding-right;

  margin-top: 3.5em;
  margin-bottom: 2em;
}

.article__title {
  margin-top: 0.2em;

  border-top: unset;
  font-family: @font-family-title;
  font-size: calc(1.5em + 2.5vw);
  font-weight: @font-weight__title-bold;
  letter-spacing: 0.05em;
  color: @palette-primary-stroke-highlight;

  line-height: 1;

  filter: drop-shadow(0.1em 0.1em 0.1em rgba(0, 0, 0, 0.15));
}

:where(.article__content > *) {
  max-width: @content-max-width;

}

.article__content > * {
  margin-left: auto;
  margin-right: auto;
}

.article__content {
  & > *:first-child {
    margin-top: 0;
  }

  font-family: @font-family-main;
  font-size: 1rem;
  font-weight: @font-weight__body-normal;

  text-align: left;

  margin-top: 1em;

  padding-top: 0;
  padding-left: @content-padding-left;
  padding-right: @content-padding-right;
  padding-bottom: 30vh;

  line-height: @line-height;
  word-wrap: break-word;

  @media (max-width: @mobile-breakpoint) {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
}

.article__date {
  font-size: 0.7em;
  margin-top: 1em;
}

.article__nav {
  margin-top: 1em;
}

.content nav a {
  display: inline;

  text-decoration: underline;

  padding: 0;
  margin: 0;
}

.content nav a:hover {
  text-decoration: none;
}
