:root {
  font-size: @fallback-font-size;
  font-size: @scaling-font-size;
  --link-base-color: var(--c2-20);
  --link-highlight-color: var(--c2-30);
}

html,
body {
  font-family: @font-family-main;
  background-color: var(--p-70);
  color: var(--g-20);
}

::selection {
  background-color: var(--p-30);
}
