:root {
  --g-20: hsl(7, 10%, 20%);
  --g-30: hsl(7, 10%, 27%);
  --g-50: hsl(7, 10%, 50%);
  --g-90: hsl(7, 10%, 90%);

  --p-20: hsl(7, 15%, 20%);
  --p-30: hsl(7, 25%, 33%);
  --p-40: hsl(7, 30%, 43%);
  --p-70: hsl(7, 64%, 75%);
  --p-90: hsl(7, 80%, 84%);

  --c1-20: hsl(75, 15%, 20%);
  --c1-30: hsl(75, 20%, 32%);
  --c1-70: hsl(75, 41%, 66%);

  --c2-20: hsl(216, 20%, 20%);
  --c2-30: hsl(216, 24%, 33%);
  --c2-70: hsl(216, 30%, 79%);
}


