:root {
  font-size: @fallback-font-size;
  font-size: @scaling-font-size;

  --link-base-color: var(--p-stroke--inc-1);
  --link-highlight-color: var(--p-stroke--dec-1);
}

html,
body {
  font-family: @font-family-main;
  color: var(--p-stroke);
  background-color: var(--p-bg);
}

::selection {
  color: var(--p-stroke);
  background-color: var(--p-bg);
}
