.block-link {
  --link-bg-color: @p-2-bg;
  --link-stroke-color: @p-2-stroke;
  --link-rollover-bg-color: @p-2-bg--contrast-dec-1;
  --link-rollover-stroke-color: @p-3-stroke;
}

.block-link--low {
  --link-bg-color: @p-2-bg--contrast-dec-1;
  --link-rollover-bg-color: @p-2-bg--contrast-dec-2;
}

.block-link--important {
  --link-bg-color: @p-2-bg--contrast-inc-1;
}

.block-link--random-border {
}
.block-link__wrapper {
}

.block-link__link:link,
.block-link__link:visited {
  background-color: var(--link-bg-color);
  color: var(--link-stroke-color);

  transition: @button-low-contrast-hover-transition;

  text-decoration: none;
}

.block-link__wrapper:focus-within {
  .block-link__link:link,
  .block-link__link:visited {
    background-color: var(--link-rollover-bg-color);
  }
}

.block-link__link:hover,
.block-link__link:active {
  background-color: var(--link-rollover-bg-color);
  color: var(--link-rollover-stroke-color);
}
