.block-link {
  --link-bg-color: var(--p-bg--inc-1);
  --link-stroke-color: var(--p-stroke);
  --link-rollover-bg-color: var(--p-bg);
  --link-rollover-stroke-color: var(--p-stroke);
}

.block-link--important {
  --link-bg-color: var(--p-accent-bg);
  --link-stroke-color: var(--p-accent-stroke);
  --link-rollover-bg-color: var(--p-accent-bg--dec-1);
  --link-rollover-stroke-color: var(--p-accent-stroke);
}

.block-link--random-border {
}
.block-link__wrapper {
}

.block-link__link:link,
.block-link__link:visited {
  background-color: var(--link-bg-color);
  color: var(--link-stroke-color);

  transition: @button-low-contrast-hover-transition;

  text-decoration: none;
}

.block-link__wrapper:focus-within {
  .block-link__link:link,
  .block-link__link:visited {
    background-color: var(--link-rollover-bg-color);
  }
}

.block-link__link:hover,
.block-link__link:active {
  background-color: var(--link-rollover-bg-color);
  color: var(--link-rollover-stroke-color);
}
