.sidebar-nav {
  letter-spacing: @header-letter-spacing;
  padding-top:0.75rem;
}

.sidebar-nav__group {
  --rotation: -5deg;
  margin-bottom: 2rem;
}

.sidebar-nav__group:first-child {
  margin-top: 0;
}

.sidebar-nav__group:nth-child(2n + 1) {
  --rotation: 5deg;
  margin-top: 1rem;
}

.sidebar-nav__group:last-child {
  margin-bottom: 0;
}

.sidebar-nav__title {
  display: none;
}

.sidebar-nav__section-title {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 1em;
  font-weight: @font-weight__title-bold;

  /*
   * Get rid of border from h2.
   */
  border-top: none;

  transform: rotate(var(--rotation));
  transform-origin: right;
}

.sidebar-nav__sidebar-title--first {
  margin-top: 0;
}

.sidebar-nav__list, .sidebar-nav__list-item {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav__list-item { }

.sidebar-nav__list-item--first {
  padding-top: 0;
}

.sidebar-nav__link {

  transform: rotate(var(--rotation));
  transform-origin: right;

  transition: @button-high-contrast-hover-transition;

}
