@card-padding: 2rem;

.cards {
  margin: 0;
  margin-top: 1em;
  padding: 0;
  border: unset;

  display: grid;
  grid-template-columns: ~"repeat(auto-fit, minmax(min(100%, 20em), 1fr))";
  grid-gap: 1em;

  filter: drop-shadow(@high-contrast-shadow);

  max-width: unset;
}

.card {
  margin: 0;
  padding: 0;

  height: 100%;

  --random-border--safe-padding: 1em;
  --random-border--animation-duration-ms: 200;

  --random-border--inner-padding: 2em;

}

.card__link {

  display: grid;

  height: 100%;

  grid-template-rows: auto auto 1fr auto;

  font-weight: 400;

  &:hover .card__image {

    filter: unset;
  }

}

.card__image {
  width: 100%;
  border: unset;
  max-height: 30vh;
  object-fit: cover;

  filter: contrast(0.5) grayscale(0.25);
  transition-property: filter;
  transition: 175ms ease-in-out;
}

.card__main {
  margin-top: 0.25em;
  padding-left: @card-padding;
  padding-right: @card-padding;

  line-height: 1.2;

  & :first-child {
    margin-top: 0;
  }
}

.card__header {
  margin-top: 1.5em;

  padding-left: @card-padding;
  padding-right: @card-padding;
}

.card__footer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-end;

  margin-top: 0.4rem;

  font-weight: 400;

  padding-left: @card-padding;
  padding-right: @card-padding;
  padding-bottom: @card-padding;

  line-height: 1;

  color: @palette-primary-inverted-stroke-reduced-contrast;
}

.card__url {
  font-size: 0.6em;

  align-self: flex-end;

  margin-top: 0.5rem;
  text-align: end;


  word-break: break-all;

  &::after {
    content: "→";
    display: inline;
    font-size: 1rem;
    line-height: 0.6;
  }
}

.card__date {
  font-size: 0.75em;
  margin-top: 0.1rem;
}
