.button {
  --button--bg-color: var(--p-accent-bg);
  --button--bg-color--selected: var(--p-accent-bg--inc-1);
  --button--bg-color--hover: var(--p-accent-bg--dec-1);
  --button--bg-color--disabled: var(--p-bg);

  --button--color: var(--p-stroke);
  --button--color--selected: var(--p-stroke);
  --button--color--hover: var(--p-stroke);
  --button--color--disabled: var(--p-stroke);

  --button--shadow: @high-contrast-shadow;
}

.button--inverted {
  --button--bg-color--hover: var(--p-bg);

  --button--color--hover: var(--p-stroke);

  --button--shadow: @low-contrast-shadow;
}

.button {
  display: block;
  appearance: none;

  /*
   * Use padding to make link easier to click.
   */
  padding: 0.35rem;

  margin-top: 0.5rem;
  margin-left: auto;
  max-width: fit-content;
  border-radius: 0.2rem;

  font-weight: @font-weight__body-normal;

  transition: @button-high-contrast-hover-transition;

  text-decoration: none;

  box-shadow: var(--button--shadow);

  &,
  &:link,
  &:visited {
    background-color: var(--button--bg-color);
    color: var(--button--color);
  }

  &:hover,
  &:active {
    background-color: var(--button--bg-color--hover);
    color: var(--button--color--hover);
  }

  &--selected {
    &,
    &:hover,
    &:active {
      background-color: var(--button--bg-color--selected);
      color: var(--button--color--selected);
    }
  }

  &:disabled {
    background-color: var(--button--bg-color--disabled);
    color: var(--button--color--disabled);

    text-decoration: line-through;
    box-shadow: none;
  }
}
