:root {
  --content-padding-left: 2rem;
  --content-padding-right: 2rem;

  --content-width: 43rem;
  --max-page-width: calc(var(--content-width) - 2rem);

  --content-max-width: calc(
    var(--content-width) - var(--content-padding-left) -
      var(--content-padding-right)
  );
}
