@import "_tools.aspect-ratio.less";
@import "_settings.borders.less";
@import "_settings.colors.less";
@import "_settings.sizes.less";
@import "_settings.typography.less";

.gallery {
  --gallery-padding: min(0.7rem);

  margin-top: 0.5em;

  display: none;

  background-color: @p-4-bg;
  color: @p-4-stroke;
  --link-base-color: @p-4-stroke--contrast-inc-1;
  --link-highlight-color: @p-4-stroke--contrast-dec-1;

  &.selected,
  &--single {
    display: block;
  }
}

.gallery--single {
  margin-top: 2em;
}

.gallery-nav {
  display: grid;

  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "p i n";

  max-width: @content-max-width;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  padding-top: 0.5em;
  padding-bottom: 0.5em;

  .prev {
    grid-area: p;
    width: max-content;
  }
  .index {
    grid-area: i;
  }
  .next {
    grid-area: n;
    justify-self: end;
    width: max-content;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  a {
    text-decoration: none;
    font-weight: @font-weight__body-bold;
  }

  a:hover,
  a:active {
    text-decoration: underline;
  }
}

.gallery-content {
  background-color: @p-1-bg--contrast-dec-1;
  color: @p-1-stroke;

  & > * {
    max-width: @content-max-width;
    margin-left: auto;
    margin-right: auto;
  }
}

.gallery-title {
  clear: both;
  padding-top: calc(1rem - var(--gallery-padding) / 2);
  padding-left: calc(2rem - var(--gallery-padding) / 2);
  padding-right: calc(2rem - var(--gallery-padding) / 2);
  margin-top: 0;
  text-align: center;
}
.gallery-images {
  padding: 2rem;
  padding-top: 1rem;
  .gallery--single & {
    padding-top: 2rem;
  }
  margin: 0;

  max-width: unset;

  a {
    display: block;
    margin: 0;
    background-color: unset;
    border: unset;

    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    margin: 0;
    border: unset;

    background-color: @white;
    box-shadow: 0 0 0 var(--gallery-padding) @white;

    border: 1px solid #e7e7e7;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  .gallery-image-item {
    display: flex;

    flex: 1 1 auto;

    width: 100%;
    height: 100%;
  }

  .gallery-image-item {
    margin: calc(var(--gallery-padding) / 2);

    @media (min-width: 500px) {
      margin: 0;
    }

    &--empty {
      background-color: unset;
      box-shadow: unset;

      display: none;

      @media (min-width: 500px) {
        display: block;
        grid-column: span 5;
        grid-row: span 5;

        &:first-child {
          grid-column: span 3;
          grid-row: span 3;
        }

        &:nth-child(2n) {
          grid-column: span 4;
          grid-row: span 4;
        }

        &:nth-child(3n) {
          grid-column: span 8;
          grid-row: span 8;
        }

        &:nth-child(5n + 2) {
          grid-column: span 6;
          grid-row: span 4;
        }
      }
    }

    &--ar-1-1 {
      grid-column: span 10;
      grid-row: span 10;
    }
    &--ar-2-3 {
      grid-column: span 8;
      grid-row: span 12;
    }
    &--ar-3-2 {
      grid-column: span 12;
      grid-row: span 8;
    }
    &--ar-3-4 {
      grid-column: span 9;
      grid-row: span 12;
    }
    &--ar-4-3 {
      grid-column: span 12;
      grid-row: span 9;
    }
    &--ar-4-5 {
      grid-column: span 8;
      grid-row: span 10;
    }
    &--ar-5-4 {
      grid-column: span 10;
      grid-row: span 8;
    }
  }

  display: flex;
  flex-wrap: wrap;

  @media (min-width: 500px) {
    --grid-size: 3vmin;

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--grid-size));
    grid-gap: var(--gallery-padding);
    grid-auto-rows: var(--grid-size);
  }
}
