@import "_tools.aspect-ratio.less";
@import "_settings.borders.less";
@import "_settings.colors.less";
@import "_settings.sizes.less";
@import "_settings.typography.less";

.gallery {
  --gallery-padding: min(0.7rem);
}

.gallery {
  display: none;

  &.selected,
  &--single {
    display: block;
  }
}

.gallery--single {
  margin-top: 2em;
}

.gallery-nav {
  display: grid;

  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "p i n";

  max-width: @content-max-width;

  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;

  .prev {
    grid-area: p;
    width: max-content;
  }
  .index {
    grid-area: i;
  }
  .next {
    grid-area: n;
    justify-self: end;
    width: max-content;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.gallery-nav {
  a {
    text-decoration: none;
    font-weight: @font-weight__body-bold;
  }

  a:hover,
  a:active {
    text-decoration: underline;
  }
}

.gallery-content {
  background-color: @palette-primary-background-reduced-contrast;

  & > * {
    max-width: @content-max-width;
    margin-left: auto;
    margin-right: auto;
  }

  margin-top: 0.5rem;
}

.gallery-title {
  clear: both;
  padding-top: 0.3rem;
  margin-top: 0;
}

.gallery-description {
  padding-top: 0.3rem;
  margin-top: 0;
}

.gallery-images {
  padding: 2em;
  margin: 0;

  max-width: unset;

  a {
    display: block;
    margin: 0;
    background-color: unset;
    border: unset;

    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    margin: 0;
    border: unset;

    background-color: @palette-tertiary-background;
    box-shadow: 0 0 0 var(--gallery-padding) @palette-tertiary-background;
    border: 1px solid #e7e7e7;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  .gallery-image-item {
    display: flex;

    flex: 1 1 auto;

    width: 100%;
    height: 100%;
  }

  .gallery-image-item {
    margin: calc(var(--gallery-padding) / 2);

    @media (min-width: 500px) {
      margin: 0;
      &:nth-child(2) {
        grid-row-start: 3;
      }

      &:nth-child(5) {
        grid-row-start: 5;
      }
    }

    &--empty {
      background-color: unset;
      box-shadow: unset;

      display: none;

      @media (min-width: 500px) {
        display: block;
        grid-column: span 10;
        grid-row: span 10;

        &:nth-child(3n) {
          grid-column: span 8;
          grid-row: span 12;
        }

        &:nth-child(5n + 1) {
          grid-column: span 12;
          grid-row: span 8;
        }
      }
    }

    &--ar-1-1 {
      grid-column: span 10;
      grid-row-end: span 10;
    }
    &--ar-2-3 {
      grid-column: span 8;
      grid-row-end: span 12;
    }
    &--ar-3-2 {
      grid-column: span 12;
      grid-row-end: span 8;
    }
    &--ar-3-4 {
      grid-column: span 9;
      grid-row-end: span 12;
    }
    &--ar-4-3 {
      grid-column: span 12;
      grid-row-end: span 9;
    }
    &--ar-4-5 {
      grid-column: span 8;
      grid-row-end: span 10;
    }
    &--ar-5-4 {
      grid-column: span 10;
      grid-row-end: span 8;
    }
  }

  --n-cols: 12;
  grid-auto-flow: row dense;

  display: flex;
  flex-wrap: wrap;

  @media (min-width: 500px) {
    --n-cols: 24;
    grid-auto-flow: row;

    display: grid;
    grid-template-columns: repeat(var(--n-cols), 1fr);
    grid-gap: var(--gallery-padding);
    grid-auto-rows: 1fr;
  }

  @media (min-width: 800px) {
    --n-cols: 36;
  }

  @media (min-width: 1200px) {
    --n-cols: 48;
  }
}
