@import "_settings.typography.less";
@import "_settings.colors.less";
@import "_settings.z-index.less";
@import "_settings.sizes.less";
@import "_settings.borders.less";

.datum-box {
  font-size: larger;
  padding: 1em;
  margin: 1em 0;
  background-color: @palette-secondary-background;
}
