@import "_settings.typography.less";
@import "_settings.z-index.less";
@import "_settings.sizes.less";
@import "_settings.borders.less";

@import "_tools.aspect-ratio.less";

@import "_components.faceted-data.less";

#location-slideshow {
  .info {
    position: relative;
    z-index: @zMid;

    line-height: 1;

    margin: 2em;
    padding: 0.5em;
  }

  .info:empty {
    display: none;
  }

  .image-container {
    --random-border--safe-padding: 1.5rem;

    display: grid;
    justify-content: center;

    img {
      max-width: 100%;

      width: auto;
      height: 90vh;

      margin: auto;
      padding: 1rem;

      background-color: unset;
      border: unset;

      filter: hue-rotate(7deg - 349deg + 240deg) saturate(40%);

    }
  }
}
