@import "_settings.typography.less";
@import "_settings.z-index.less";
@import "_settings.sizes.less";
@import "_settings.borders.less";

@import "_tools.aspect-ratio.less";

@import "_components.faceted-data.less";

#location-slideshow {
  .info {
    position: relative;
    z-index: @zMid;

    line-height: 1;

    color: var(--p-stroke--dec-1);

    background-color: var(--p-bg--alpha-80);

    margin: 2em;
    padding: 0.5em;
  }

  .info:empty {
    display: none;
  }

  .image-container {
    --random-border--safe-padding: 1.5rem;

    .aspect-ratio(100, 85);

    background-color: var(--p-bg);

    img {
      padding: 2rem;

      background-color: unset;
      border: unset;

      width: 100%;

      filter: drop-shadow(1px 1px 0 var(--p-bg--alpha-15))
        drop-shadow(1px -1px 0 var(--p-bg--alpha-15))
        drop-shadow(-1px 1px 0 var(--p-bg--alpha-15))
        drop-shadow(-1px -1px 0 var(--p-bg--alpha-15));
    }
  }
}
