<!DOCTYPE html>
<html lang="en-GB"
  data-url-api="{{ urls.api }}"
  data-url-api-health="{{ urls.apis.health }}"
  data-url-api-auth="{{ urls.apis.auth }}"
  data-url-assets="{{ urls.assets }}"
  data-url-images="{{ urls.images }}">
  <head>
    <meta charset="utf-8">
    <meta name="referrer" content="origin-when-cross-origin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#008291" >
    <meta name="description" content="{{ description }}" >
    <meta name="author" content="Thomas 'Panda' Attwood (TickleThePanda)">
    <title>{{ title }} - TickleThePanda</title>
    <link rel="canonical" href="{{ permalink | url }}">

    <link rel="preload" href="{{ urls.assets }}/style/main.css" as="style">

    <link href="{{ urls.assets }}/style/main.css" rel="stylesheet" type="text/css">
    <link href="{{ urls.assets }}/style/main-print.css" rel="stylesheet" type="text/css" media="print">

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preconnect" href="{{ urls.assets }}/" crossorigin>

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500,800|Alegreya+Sans:400,400i,700" rel="stylesheet">

    <script async src="{{ urls.assets }}/scripts/random-border-elements.js"></script>
    <script async src="{{ urls.assets }}/scripts/nav.js"></script>

  </head>
  <body>
    <header class="sidebar">
      <div class="sidebar__header-wrapper">
        <div class="sidebar__header header-bar header-bar--variant-1 block-link block-link__wrapper">
          <a class="title block-link__link" href="{{ '/' | url }}">
            <h1 class="header-bar__header-item header-bar__header-item--main">
              TickleThePanda
            </h1>
          </a>
          <svg
            class="header-bar__header-item header-bar__header-item--aside nav-toggle"
            xmlns="http://www.w3.org/2000/svg" version="1.1"
            viewBox="0 0 9 7" preserveAspectRatio="xMidYMid slice"
            width="1em" height="1em">
            <path
                class="nav-toggle__animated-line nav-toggle__animated-line--delay-1"
                style="fill:none;fill-rule:evenodd;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="m 1.5,2 6,0"/>
            <path
                class="nav-toggle__animated-line nav-toggle__animated-line--delay-2"
                style="fill:none;fill-rule:evenodd;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="m 1.5,4 6,0"/>
            <path
                class="nav-toggle__animated-line nav-toggle__animated-line--delay-3"
                style="fill:none;fill-rule:evenodd;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="m 1.5,6 6,0"/>
          </svg>
        </div>
      </div>
      <div class="sidebar__content">
        <nav class="sidebar-nav">
          <h1 class="sidebar-nav__title">Main Navigation</h1>
          {% for group in nav  %}
            <section class="sidebar-nav__group">
              {% if group.name != null %}
                <h2 class="sidebar-nav__section-title {% if forloop.first == true %}sidebar-nav__sidebar-title--first{% endif %}">{{ group.name }}</h2>
              {% endif %}
              <ul class="sidebar-nav__list">
                {% for link in group.links %}
                  <li class="sidebar-nav__list-item {% if forloop.first == true %}sidebar-nav__list-item--first{% endif %}">
                    <a class="sidebar-nav__link" href="{{ link.location | url }}">{{ link.text }}</a>
                  </li>
                {% endfor %}
              </ul>
            </section>
          {% endfor %}
        </nav>
        <section class="sidebar__aside content">
          <h1 class="sidebar__section-title">Biography</h1>
          <p>Hey, I'm <strong>Panda</strong>!</p>
          <p>I'm a geek who works as a web developer at STFC.</p>
          <p>I love playing with data and presenting it in different ways.</p>
          <p>I've created this space to show my recent projects.</p>
        </section>
      </div>
    </header>
    <main>
      <article>
        <div class="header-bar header-bar--variant-2 header-bar--secondary">
          <h1 class="header-bar__header-item header-bar__header-item--secondary subtitle">
            {{ title }}
          </h1>
        </div>
        <div class="content">
          {{ content }}
        </div>
      </article>
    </main>
  </body>
</html>
