---
layout: page
title: Photography
description: A gallery of photography taken with both digital and film cameras.
permalink: /photography/
---

<p>
I've been an amateur photographer since I was 15. These gallaries show my
favourite photos from the past few years. Although I usually prefer taking
shots of landscapes and plants, there are a couple of shots of people in here
which I really like!
</p>

<div class="galleries">
  {% assign galleries = gallery.galleries %}
  {% assign thumbsPath = gallery.thumbsPath %}
  {% assign fullPath = gallery.fullPath %}

  {% for gallery in galleries %}
    <div id="gallery-{{ gallery.reference }}" class="gallery">
      <nav class="gallery-nav">
        {% assign prev_i = forloop.index0 | minus: 1 %}
        {% unless forloop.first %}
          <a class="prev" href="?gallery={{ galleries[prev_i].reference }}">↞ Previous</a>
        {% endunless %}
        {% unless forloop.last %}
          {% assign next_i = forloop.index0 | plus: 1 %}
          <a class="next" href="?gallery={{ galleries[next_i].reference }}">Next ↠</a>  
        {% endunless %}
      </nav>
      <div class="gallery-content">
        <h2 class="gallery-title">{{ gallery.name }}</h2>
        <p class="gallery-description">{{ gallery.description }}</p>
        <ul class="gallery-images">
          {% for image in gallery.images %}
            <li class="gallery-image-item {% if image.favourite %}favourite{% endif %}">
              <a href="{{ urls.images }}{{ fullPath }}{{ gallery.reference }}/{{ image.fileName }}">
                <img data-src="{{ urls.images }}{% if image.favourite %}{{ fullPath }}{% else %}{{ thumbsPath }}{% endif %}{{ gallery.reference}}/{{ image.fileName }}"/>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}

</div>

<link href="{{ urls.assets }}/style/gallery.css" rel="stylesheet" type="text/css">
<script async src="{{ urls.assets }}/scripts/gallery.js"></script>

